@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .loader {
    width: 8px;
    height: 8px;
    border-radius: 90%;
    display: flex;
    margin: 15px auto;
    position: relative;
    color: #c51f25;
    left: -120px;
    box-sizing: border-box;
    animation: shadowRolling 2s linear infinite;
  }

  @keyframes shadowRolling {
    0% {
      box-shadow: 0px 0 rgba(255, 83, 83, 0), 0px 0 rgba(255, 83, 83, 0),
        0px 0 rgba(255, 83, 83, 0), 0px 0 rgba(255, 83, 83, 0);
    }
    12% {
      box-shadow: 100px 0 #c51f25, 0px 0 rgba(255, 83, 83, 0),
        0px 0 rgba(255, 83, 83, 0), 0px 0 rgba(255, 83, 83, 0);
    }
    25% {
      box-shadow: 110px 0 #c51f25, 100px 0 #c51f25, 0px 0 rgba(255, 83, 83, 0),
        0px 0 rgba(255, 83, 83, 0);
    }
    36% {
      box-shadow: 120px 0 #c51f25, 110px 0 #c51f25, 100px 0 #c51f25,
        0px 0 rgba(255, 83, 83, 0);
    }
    50% {
      box-shadow: 130px 0 #c51f25, 120px 0 #c51f25, 110px 0 #c51f25,
        100px 0 #c51f25;
    }
    62% {
      box-shadow: 200px 0 rgba(255, 83, 83, 0), 130px 0 #c51f25, 120px 0 #c51f25,
        110px 0 #c51f25;
    }
    75% {
      box-shadow: 200px 0 rgba(255, 83, 83, 0), 200px 0 rgba(255, 83, 83, 0),
        130px 0 #c51f25, 120px 0 #c51f25;
    }
    87% {
      box-shadow: 200px 0 rgba(255, 83, 83, 0), 200px 0 rgba(255, 83, 83, 0),
        200px 0 rgba(255, 83, 83, 0), 130px 0 #c51f25;
    }
    100% {
      box-shadow: 200px 0 rgba(255, 83, 83, 0), 200px 0 rgba(255, 83, 83, 0),
        200px 0 rgba(255, 83, 83, 0), 200px 0 rgba(255, 83, 83, 0);
    }
  }
}

@layer components {
  .formInput {
    @apply block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900;
  }

  .formLabel {
    @apply mb-2 block text-sm font-medium text-gray-900 dark:text-white;
  }

  .formButton {
    @apply w-full rounded-lg bg-gray-900 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-gray-800 sm:w-auto;
  }
}
